h1 {
    font-size: 70px;
    color:mediumpurple;
}
{
font-style: italic;
font-size: 40px;
    color:darksalmon;

}
.quote { color: mediumpurple;
         font-size:20px;}

table, th, td { table-layout: fixed;
    border: 2px solid grey;
    border-collapse: collapse;
width:30%;}
